.data_succes {
    animation-name: example;
    animation-duration: 1s;

    .bg_succes {
        background-color: rgb(136, 223, 136);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@keyframes example {
    from {
        opacity: 0;
        margin-left: -400px;
    }

    to {
        opacity: 1;
    }
}

.data_error {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    p {
        border-radius: 10px;
        background-color: red;
        margin: 1px;
        text-align: center;
        color: white;
    }
}